<div class="container">
  <div class="row align-middle">
    <div class="col-6"> <h1>Player Center</h1> </div>
    <div class="col-6 text-right">
      <% if @current_user %>
        Signed in as <%= @current_user.name %>
        <%= link_to 'Sign Out', signout_path, class: 'btn' %>
      <% end %>
      <div>
        <label>Session Code: </label>
        <%= current_user[:active_session] %>
      </div>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-6"><%= render_async user_hand_path, interval: 5000 %></div>
    <div class="col-6">
      <h5>Stats for Other Players:</h5>
      <div class="row">
        <p class="col-6">Number of other players:</p>
        <p class="col-6"><%= User.where.not(account_id: @current_user.account_id).count%></p>
      </div>
      <%# User.where.not(account_id: @current_user.account_id).each do |user| %>
        <%#= user.name %>
<!--        <br>-->
        <%# end %>

      <%#= User.where.not(account_id: @current_user.account_id).count%>
    </div>
  </div>
<!--  <div>-->
<!--    <h3>Alice's Hand (for testing only)</h3>-->
<!--    <table>-->
<!--      <tbody>-->
      <%# Card.where(pile_id: 1234).each do |card| %>
<!--        <tr>-->
<!--          <td>-->
            <%#= card[:card_value] + ' of ' + card[:card_suit] %>
<!--          </td>-->
<!--        </tr>-->
      <%# end %>
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->

<!--  <div>-->
<!--    <h3>Bob's Hand (for testing only)</h3>-->
<!--    <table>-->
<!--      <tbody>-->
      <%# Card.where(pile_id: 7007).each do |card| %>
<!--        <tr>-->
<!--          <td>-->
            <%#= card[:card_value] + ' of ' + card[:card_suit] %>
<!--          </td>-->
<!--        </tr>-->
      <%# end %>
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->

  <br>

  <div>
    <div class="row"> <h6>Add to Your Score:</h6> </div>
    <% if @current_user %>
      <%= button_to '+', users_increment_score_path %>
      <%= @current_user_score[:score] %>
      <%= button_to '-', users_decrement_score_path %>
    <% end %>
  </div>

  <div class="row">
    <%= link_to 'Return to Decks', cards_path, class: 'btn' %>
  </div>

</div>

