<div class="container">
  <div class="row align-middle">
    <div class="col-6"> <h1>Player Center</h1> </div>
    <div class="col-6 text-right">
      <% if @current_user %>
        Signed in as <%= @current_user.name %>
        <%= link_to 'Sign Out', signout_path, class: 'btn' %>
      <% end %>
      <div>
        <label>Session Code: </label>
        <%= current_user[:active_session] %>
      </div>
    </div>
  </div>

  <br>
    <div><%= render_async user_hand_path, interval: 5000 %></div>
  <br>

  <div>
    <div class="row"> <h6>Add to Your Score:</h6> </div>
    <% if @current_user %>
      <%= button_to '+', users_increment_score_path %>
      <%= @current_user_score[:score] %>
      <%= button_to '-', users_decrement_score_path %>
    <% end %>
  </div>

  <div class="row">
    <%= link_to 'Return to Decks', cards_path, class: 'btn' %>
  </div>

</div>

