<h1>User Hand</h1>
<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<%= button_to 'Draw Card', users_draw_path %>

<table>
  <thead>
  <tr>
    <th>Card</th>
  </tr>
  </thead>
  <tbody>
  <% if @hand_cards != nil %>
    <% @hand_cards.each do |card| %>
      <tr>
        <td>
          <%= card[:card_value] + ' of ' + card[:card_suit] %>
        </td>
        <td>
          <%= check_box_tag("discard_card[#{card[:id]}]", "1", false) %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<%= link_to 'Return to Deck', cards_path %>