<h1>User Hand</h1>
<div>
  <% if @current_user %>
    Signed in as <%= @current_user.name %>
    <%= link_to 'sign out', signout_path %>
  <% end %>
</div>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<%= button_to 'Draw Card', users_draw_path %>

<%= form_with url: users_update_path do |f| %>

  <table>
    <thead>
    <tr>
      <th>Card</th>
    </tr>
    </thead>
    <tbody>
    <% if @hand_cards != nil %>
      <% @hand_cards.each do |card| %>
        <tr>
          <td>
            <%= card[:card_value] + ' of ' + card[:card_suit] %>
          </td>
          <td>
            <%= check_box_tag("selected_card[#{card[:id]}]", "1", false) %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% end  %>

<div>
  <%= link_to 'Return to Discard Deck', cards_path %>
</div>

<%= link_to 'Return to Deck', cards_path %>