<h1>User Hand</h1>
<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<% if @current_user %>
  Signed in as <%= @current_user.name %>
  <%= link_to 'sign out', signout_path %>
<% end %>

<%= button_to 'Draw Card', users_draw_path %>

<%= form_tag users_discard_path do %>
  <%= submit_tag 'Discard' %>
  <table>
    <thead>
    <tr>
      <th>Card</th>
    </tr>
    </thead>
    <tbody>
    <% if @hand_cards != nil %>
      <% @hand_cards.each do |card| %>
        <tr>
          <td>
            <%= card[:card_value] + ' of ' + card[:card_suit] %>
          </td>
          <td>
            <%= check_box_tag("discard_card[#{card[:id]}]", "1", false) %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% end  %>

<%= button_to '+', users_increment_score_path %>
 <%= @current_user_score[:score] %>
<%= button_to '-', users_decrement_score_path %>



<%= link_to 'Return to Discard Deck', cards_path %>
<%= link_to 'Return to Deck', cards_path %>
