<h1> Settings Page</h1>

<%= label :settings, :num_players, 'Number of Decks', :class => 'col-form-label'%>
<%= select :movie, :num_players,['1','2','3','4','5','6','7','8','9','10'], {}, {:class => 'form-control col-1'}%>

<%= label :settings, :num_deck, 'Number of Decks', :class => 'col-form-label'%>
<%= select :movie, :num_deck, ['1','2','3','4','5','6','7'], {}, {:class => 'form-control col-1'}%>

<%= label :settings, :card_options, 'Number of Decks', :class => 'col-form-label'  %>
<%= select :movie, :card_options, ['temp','half deck','only red cards'], {}, {:class => 'form-control col-1'} %>