<h1>Game Coming Soon</h1>

<%= button_to 'Guest User', users_show_path, method: :get%>

<%= form_tag cards_deal_all_path, method: :post do %>
  <%= label :num_cards, 'Number of Cards To Deal to All Players' %>
  <%= text_field_tag :num_cards, params[:num_cards] %>
  <%= submit_tag "Deal Cards", name: cards_deal_all_path %>
<% end %>

<h2>Deck</h2>
<table>
  <thead>
  <tr>
    <th>Card</th>
  </tr>
  </thead>
  <tbody>
  <% if @cards.present? %>
    <% @cards.each do |card| %>
      <tr>
        <td>
          <%= card[:card_value] + ' of ' + card[:card_suit] %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td> Deck is empty </td>
    </tr>
  <% end %>
  </tbody>
</table>


<h2> Discarded Deck </h2>
<table>
  <thead>
  <tr>
    <th>Cards</th>
  </tr>
  </thead>
  <tbody>
  <% @cards.each do |card| %>
    <tr>
      <td>
        <% if card[:pile_id] == 100 %>
          <%= card[:card_value] + ' of ' + card[:card_suit] %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
  </thead>
</table>